[run]
branch = True
source = pakit

[report]
exclude_lines =
  pragma: no cover
  argv = sys.argv
  raise NotImplementedError
  task.run()

show_missing = True
; vim:set ft=dosini et sw=2 ts=2 sts=2:
